footer
  .container-fixed 
    .footer-main 
      .row 
        .col-3 
          .box-item 
            h1.inner-name Travel
            .inner-desc Travel helps companies manage payments easily.
            .inner-list-social 
              a.social-item(href="#")
                i(class="fa-brands fa-linkedin-in")
              a.social-item(href="#")
                i(class="fa-brands fa-facebook")
              a.social-item(href="#")
                i(class="fa-brands fa-github")
              a.social-item(href="#")
                i(class="fa-brands fa-twitter")
        .col-3 
          .box-item 
            h3.inner-title Company 
            ul 
              li About Us 
              li Careers 
              li Blog 
              li Pricing
        .col-3 
          .box-item 
            h3.inner-title Destinations 
            ul 
              li Maldives
              li Los Angelas
              li Las Vegas
              li Torronto
        .col-3 
          .box-img 
            img(src="/client/images/img-footer.jpg")
    p.footer-copyright Copyright @ Xpro 2022. All Rights Reserved.


