header
  .container-fixed.header-main
    .section-logo
      a(href="/") Travel
    ul.section-menu 
      li(class="menu-item")
        a(href="#") Home
      li(class="menu-item")
        a(href="/tours") Tours
      li(class="menu-item")
        a(href="#") Services
      li(class="menu-item")
        a(href="#") Upcomming Packages
    .section-user 
      button(class="button button-login" data-bs-toggle="modal" data-bs-target="#exampleModal") Đăng nhập
      div(class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog")
          div(class="modal-header") 
            h2 Đăng nhập 
            button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
          div(class="modal-body") 
            h3 Nội dung ...
      button(class="button button-login" data-bs-toggle="modal" data-bs-target="#exampleModal") Đăng ký
      div(class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog")
          div(class="modal-header") 
            h2 Đăng ký 
            button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
          div(class="modal-body") 
            h3 Nội dung ...




