@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ===BASE CSS=== */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #343A40;
  font-size: 15px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}

img {
  vertical-align: middle;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
}

button:focus {
  outline: none;

}

h1,
h2,
h3,
h4,
h5,
h6,
span,
label,
p,
ul,
li {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.button {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}

/* .container-fixed {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
} */
.container-fixed {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1920px) {
  .container-fixed {
    max-width: 1278px;
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .container-fixed {
    max-width: 1050px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container-fixed {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-fixed {
    max-width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container-fixed {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .container-fixed {
    max-width: 100%;
  }
}