/* Header */
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 100px;
}

.section-logo a {
  color: #FFF;
  text-align: center;
  font-family: Volkhov;
  font-size: 31.622px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.section-menu {
  display: flex;
}

.section-menu .menu-item a {
  color: #FFF;
  font-family: "Circular Std";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 50px;
}

.section-user {
  display: flex;
}

.section-user .button-login {
  background: #DF6951;
  margin-left: 10px;
  color: #FFF;
  font-family: "Circular Std";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5px 10px;
}

/* End header */
/* Footer  */
.footer-main {
  margin-top: 100px;
}

.footer-main .box-item .inner-name {
  color: #181E4B;
  font-family: Volkhov;
  font-size: 31.622px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  position: relative;
}

.footer-main .box-item .inner-name::after {
  position: absolute;
  content: "";
  background-image: url("../images/under-logo.svg");
  width: 96.13px;
  height: 30.346px;
  flex-shrink: 0;
  flex-shrink: 0;
  bottom: -15px;
  left: 30px;
  transform: scale(0.9);
}

.footer-main .box-item .inner-desc {
  color: #757095;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 175% */
  letter-spacing: -0.32px;
  margin: 20px 0 10px 0;
}

.footer-main .box-item .inner-list-social .social-item {
  color: #DF6951;
  margin-right: 10px;
  font-size: 20px;
}

.footer-main .box-item .inner-title {
  color: #181433;
  font-family: Manrope;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 114.286% */
}

.footer-main .box-item li {
  color: #181433;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 5px 0;
  /* 150% */
}

.footer-main .box-img {
  width: 100%;
  height: auto;
  transform: scale(2);
  position: relative;
  z-index: -1;
}

.footer-main .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-copyright {
  color: #181433;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: -0.32px;
  margin-top: 30px;
  border-top: solid 1.5px #E5E5EA;
}

/* End Footer  */
/* Section Intro  */
.section-intro {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: -100px;
  padding-top: 300px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0.33) 100%), url("../images/img-intro-1.jpg") lightgray 50% / cover no-repeat;
}

.section-intro svg {
  width: 78.356px;
  height: 15.671px;
  flex-shrink: 0;
}

.section-intro .inner-title {
  width: 50%;
  color: #FFF;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 67.908px;
  /* 116.071% */
}

.section-intro .form-filter-bar {
  display: flex;
  align-items: center;
  border-radius: 5.224px;
  background: rgba(243, 243, 243, 0.60);
  backdrop-filter: blur(17.760618209838867px);
  padding: 10px;
  width: fit-content;
  margin-top: 20px;
}

.section-intro .form-filter-bar .nav-item {
  margin-right: 10px;
  border-right: solid 1.5px #a4a0a0;
}

.section-intro .form-filter-bar .nav-item:last-child {
  border-right: none;
}

.section-intro .form-filter-bar .nav-item button {
  background: none;
  border: none;
}

.section-intro .form-filter-bar .nav-item button:focus {
  outline: none !important;
  border: none;
}

.section-intro .form-filter-bar .nav-item input {
  background: none;
  border: none;
  margin-left: 5px;
}

.section-intro .form-filter-bar .nav-item input:focus {
  outline: none;
}

.section-intro .form-filter-bar select input:focus {
  box-shadow: 0 0 0 .25rem #e9a89a;
  margin: auto;
  margin-bottom: 3px;
}

.section-intro .form-filter-bar .dropdown-item.active {
  background-color: #DF6951;
}

.section-intro .button-submit {
  background-color: #DF6951;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 5px 15px;
}

/* End Section Intro  */
/* Section Brand */
.section-brand {
  background: #F7F7F7;
  padding: 50px;
}

.section-brand .nav-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-brand .nav-item::before {
  content: '';
  background: #F7F7F7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.section-brand .nav-item img {
  width: 140px;
  height: auto;
  position: relative;
  z-index: 2;
}

/* End Section Brand */
/* Box head  */

.box-head .inner-sub-title {
  color: #DF6951;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.box-head .inner-title {
  color: #181E4B;
  font-family: Volkhov;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.box-head .inner-desc {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 10px;
}

.box-head .button-view {
  background: #DF6951;
  color: #fff;
  font-weight: 400;
  padding: 5px 10px;
}

/* End Box head  */

/* Section Category   */
.section-category {
  margin-top: 110px;
  margin-bottom: 50px;
}

.section-category .box-head {
  text-align: center;
}

.section-category .category-main .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 1;
}

.section-category .category-main .nav-item:hover {
  border-radius: 36px;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
  transition: all ease-in-out 0.4s;
}

/* .section-category .category-main .nav-item:hover::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  background: #DF6951;
  border-radius: 20px;
  left: -20px;
  bottom: -20px;
  z-index: -1;
} */

.section-category .category-main .inner-img {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
}

.section-category .category-main .inner-img img {
  width: 100%;
  height: 100%;
}

.section-category .category-main .inner-content {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.section-category .category-main .inner-content .inner-title {
  color: #1E1D4C;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.section-category .category-main .inner-content .inner-desc {
  color: #5E6282;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
}

/* End Section Category   */
/* Section Romantic  */
.section-romantic {
  margin-bottom: 50px;
}

.section-romantic .box-content {
  margin-left: 100px;
  display: flex;
  height: 100%;
  align-items: center;
}

.section-romantic .box-left {
  position: relative;
  margin-right: 100px;
}

.section-romantic .box-left .inner-img {
  width: 380px;
  height: 550px;
  margin-left: auto;
  position: relative;
}


.section-romantic .box-left .inner-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  object-fit: cover;
  /* transform: translateX(-60px); */
}

.section-romantic .box-left .inner-img::before {
  /* content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: solid 5px;
  border-image: linear-gradient(
    to bottom, 
    red, 
    rgba(51, 5, 214, 0)
  ) 1 100%;;
  border-top-left-radius: 210px;
  border-top-right-radius: 210px; */
  /* background: linear-gradient(to top left, red, blue); */
}

.section-romantic .box-left .list-sub-img .sub-img:nth-child(1) {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 0;
  left: -60px;
  overflow: hidden;
}

.section-romantic .box-left .list-sub-img .sub-img:nth-child(2) {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 170px;
  left: -130px;
  overflow: hidden;
}

.section-romantic .box-left .list-sub-img .sub-img:nth-child(3) {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -20px;
  left: 130px;
}

.section-romantic .box-left .list-sub-img .sub-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.section-romantic .box-left .sub-title {
  color: #E6E6E6;
  font-size: 30px;
  font-weight: 700;
  transform: rotate(270deg);
  position: absolute;
  bottom: 150px;
  left: -200px;
}

/* End Section Romantic  */
/* Section Booking  */
.section-booking {
  margin-bottom: 50px;
}

.section-booking .list-select .select-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.section-booking .list-select .select-item .inner-thumbnail {
  width: 47px;
  height: auto;
  margin-right: 15px;
}

.section-booking .list-select .select-item .inner-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-booking .list-select .select-item .inner-content .inner-title {
  color: #5E6282;
  font-size: 14px;
  font-weight: 700;
  line-height: 124.5%;
  /* 19.92px */
}

.section-booking .list-select .select-item .inner-content .inner-desc {
  color: #5E6282;
  font-size: 13px;
  font-weight: 400;
  line-height: 124.5%;
  /* 19.92px */
}

.section-booking .box-right {
  position: relative;
  z-index: 1;
}

.section-booking .box-right .box-main {
  padding: 20px;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00);
  width: 370px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 26px;
  position: relative;
  z-index: 1;
}


.section-booking .box-right .box-main::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-100%, -80%);
  border-radius: 367px;
  opacity: 0.8;
  background: #59B1E6;
  filter: blur(75px);
  z-index: 0;
}

/* .section-booking .box-right::before {
  content: "";
  position: absolute;
  top: -30%;
  left: -50%;
  width: 1000px;
  height: auto;
  background: url("../images/img-booking-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9;
} */

.section-booking .box-right .inner-img {
  width: 100%;
  aspect-ratio: 2/1;
  border-radius: 26px;
  overflow: hidden;
  margin-bottom: 20px;
}

.section-booking .box-right .inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-booking .box-right .inner-content .inner-title {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.27px;
  margin-bottom: 10px;
}

.section-booking .box-right .inner-content .inner-sub-desc {
  color: #84829A;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.08px;
}

.section-booking .box-right .list-action {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.section-booking .box-right .list-action .action-item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.section-booking .box-right .box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-booking .box-right .box-footer .quantity-people {
  display: flex;
}

.section-booking .box-right .box-footer .quantity-people .inner-icon {
  width: 14px;
  height: auto;
  flex-shrink: 0;
  margin-right: 10px;
}

.section-booking .box-right .box-footer .quantity-people .inner-quantity {
  color: #84829A;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.32px;
}

.section-booking .box-right .box-footer .button-favorite {
  background: none;
  color: #DF6951;
  width: 20px;
  height: auto;
  flex-shrink: 0;
}

.section-booking .box-right .sub-img {
  width: 500px;
  height: 285px;
  transform: scaleX(-1);
  position: absolute;
  z-index: -5;
  top: -90px;
  right: -100px;
  overflow: hidden;
}

.section-booking .box-right .sub-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.4);
}

/* End Section Booking  */
/* Section Banner */
.section-banner {
  background-image: url("../images//banner-1.png");
  background-repeat: no-repeat;
  height: 300px;
  width: auto;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.section-banner .inner-desc {
  color: #FFF;
  font-family: Volkhov;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  width: 50%;
}

/* End Section Banner */
/* Section Promotion */
.section-promotion {
  margin-top: 100px;
  margin-bottom: 50px;
}

.section-promotion .box-content {
  position: relative;
  z-index: 9;
}

.section-promotion .box-content .list-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;

}

.section-promotion .box-content .list-img .img-item {
  position: relative;
  margin-right: 20px;
}

.section-promotion .box-content .list-img .img-item .inner-img {
  width: 180px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

.section-promotion .box-content .list-img .img-item .inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-promotion .box-content .list-img .img-item .inner-price {
  background: #DF6951;
  font-size: 13px;
  font-weight: 300;
  padding: 2px 5px;
  border-radius: 7px;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
}

.section-promotion .box-right {
  position: relative;
  z-index: 2;
}

.section-promotion .box-right .inner-img {
  width: 400px;
  height: 550px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  overflow: hidden;
  margin-left: auto;
}

.section-promotion .box-right .inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.section-promotion .box-right .inner-sub-title {
  color: #E6E6E6;
  font-size: 37px;
  font-weight: 700;
  transform: rotate(270deg);
  position: absolute;
  bottom: 176px;
  right: -228px;
}

/* End Section Promotion */
/* Section View  */
.section-view {
  display: flex;
}

.section-view .inner-sub-title {
  color: #FFEFEC;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.section-view .inner-title {
  color: #fff;
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
}

.section-view .button-view {
  display: flex;
  width: 176.561px;
  height: 56.416px;
  padding: 0px 36.566px 9.403px 0px;
  justify-content: center;
  align-items: center;
  gap: 10.447px;
  flex-shrink: 0;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 7px;
}

.section-view .box-left {
  position: relative;
  background-image: url("../images/img-view-2.jpg");
  background-repeat: no-repeat;
  height: 300px;
  width: 50%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-view .box-right {
  position: relative;
  background-image: url("../images/img-view-1.jpg");
  background-repeat: no-repeat;
  height: 300px;
  width: 50%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.section-view .box-left::before,
.section-view .box-right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.38);
  /* Màu nền phủ */
  z-index: 1;
  /* Đảm bảo lớp phủ xuất hiện trên hình nền */
}

.section-view .box-left .inner-sub-title,
.section-view .box-left .inner-title,
.section-view .box-left .button-view,
.section-view .box-right .inner-sub-title,
.section-view .box-right .inner-title,
.section-view .box-right .button-view {
  position: relative;
  z-index: 2;
  /* Đảm bảo nội dung xuất hiện trên lớp phủ */
}

/* End Section View  */
/* Section Trendy  */
.section-trendy {
  margin: 100px 0;
}

.section-trendy .product-item {
  display: flex;
  flex-direction: column;
}

.section-trendy .product-item .inner-img {
  width: 100%;
  aspect-ratio: 6/5;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

.section-trendy .product-item .inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-trendy .product-item .box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.section-trendy .product-item .box-content .inner-img-category {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #fff;
  box-shadow: -4px 11px 18px 0px rgba(0, 0, 0, 0.25) inset, 6px 14px 27px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -10%;
  left: 10%;
}

.section-trendy .product-item .box-content .inner-img-category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-trendy .product-item .box-content .sub-desc {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.section-trendy .product-item .box-content .sub-desc .inner-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.section-trendy .product-item .box-content .sub-desc .inner-item i {
  font-size: 14px;
  margin-right: 6px;
}

.section-trendy .product-item .box-content .sub-desc .inner-item span {
  color: #7D7D7D;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.section-trendy .product-item .box-content .inner-title {
  color: #2F2F2F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-trendy .product-item .box-content .inner-price .price-new {
  font-size: 17px;
  color: #DF6951;
  font-weight: 400;
  margin-right: 5px;
}

.section-trendy .product-item .box-content .inner-price .price-old {
  color: #7D7D7D;
  text-decoration: line-through;
  font-weight: 350;
}

.section-trendy .product-item .box-content .inner-desc {
  color: #000;
  font-size: 12.224px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.449px;
  letter-spacing: 0.611px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-trendy .product-item .box-content .button-explore {
  display: inline-block;
  color: #fff;
  border-radius: 7.64px;
  background: #DF6951;
  box-shadow: 0px 15.28px 20px 0px rgba(223, 105, 81, 0.15);
  display: flex;
  width: 134.897px;
  height: 43.103px;
  padding: 0px 20px 7.184px 0px;
  justify-content: center;
  align-items: center;
  gap: 7.982px;
  flex-shrink: 0;
  margin-top: 10px;
}

/* End Section Trendy  */
/* Tour  */
/* Section Intro Tours  */
.section-intro-tours {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  margin-top: -100px;
  padding-top: 300px;
  background: linear-gradient(0deg, rgba(53, 52, 52, 0.33) 0%, rgba(54, 53, 53, 0.33) 100%), url("../images/img-tours.jpg") lightgray 50% / cover no-repeat;
}

.section-intro-tours .box-content {
  position: relative;
  z-index: 1;
  color: #fff;
}

.section-intro-tours .box-content .inner-sub-title {
  color: #FFEFEC;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
}

.section-intro-tours .box-content .inner-title {
  color: #FFF;
  font-family: Yesteryear;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: 170px;
  /* 142.085% */
  text-align: center;
}

/* End Section Intro Tours  */
/* Seciton Tour  */
.section-tours .box-main .box-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  background: #F8F8F8;
}

.section-tours .box-main .box-navigation .nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.section-tours .box-main .box-navigation .nav-item i {
  font-size: 17px;
  flex-shrink: 0;
  margin-right: 7px;
}

.section-tours .box-main .box-navigation .nav-item span {
  color: #343434;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.section-tours .tour-main {
  background: #FFF;
  box-shadow: 0px 4px 48px 12px rgba(0, 0, 0, 0.09);
  padding: 20px;
}

.section-tours .list-tour {
  position: relative;
  z-index: 3;
}

.section-tours .list-tour .tour-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.section-tours .list-tour .tour-item .box-head .inner-img {
  width: 100%;
  aspect-ratio: 6/5;
  flex-shrink: 0;
}

.section-tours .list-tour .tour-item .box-head .inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-tours .list-tour .tour-item .box-head .inner-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background: #DF6951;
}

.section-tours .list-tour .tour-item .box-head .inner-information .inner-item {
  display: flex;
  align-items: center;
}

.section-tours .list-tour .tour-item .box-head .inner-information i {
  font-size: 12px;
  flex-shrink: 0;
  color: #fff;
  margin-right: 5px;
}

.section-tours .list-tour .tour-item .box-head .inner-information span {
  color: #FFF;
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
}

.section-tours .list-tour .tour-item .box-content .inner-title {
  color: #181E4B;
  font-family: Volkhov;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-tours .list-tour .tour-item .box-content .inner-desc {
  color: #181E4B;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-tours .list-tour .tour-item .box-footer {
  display: flex;
  flex: 1;
  align-items: center;
}

.section-tours .list-tour .tour-item .box-footer .inner-price {
  color: #262626;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  margin-right: 15px;
}

.section-tours .list-tour .tour-item .box-footer .inner-rating i {
  color: #DF6951;
  font-size: 14px;
  margin-right: 5px;
}

.section-tours .list-tour .tour-item .box-footer .inner-rating span {
  color: #262626;
  font-size: 14px;
  font-weight: 500;
}

/* End Seciton Tour  */
/* Form Search Tour */

.section-tours .form-search-tour {
  background: #EDEDED;
  text-align: center;
  padding: 30px 20px;
}

.section-tours .form-search-tour .form-title {
  color: #181E4B;
  text-align: center;
  font-family: Volkhov;
  font-size: 32px;
  font-weight: 700;
}

.section-tours .form-search-tour .form-desc {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin: 10px 0;
}

.section-tours .form-search-tour .form-control {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  margin-bottom: 10px;
}

.section-tours .form-search-tour .form-control i {
  color: #DFDFDF;
  margin-right: 10px;
  font-size: 16px;
}

.section-tours .form-search-tour .form-control input {
  border: none;
  outline: none;
  width: 100%;

}

/* Style Css Dropdown  */
.section-tours .form-search-tour .form-control .dropdown {
  width: 100%;
}

.section-tours .form-search-tour .form-control .dropdown button {
  background: none;
  border: none;
}

.section-tours .form-search-tour .form-control .dropdown button:hover {
  background: none;
  border: hidden;
}

.section-tours .form-search-tour .form-control .dropdown button:focus {
  border: none;
  outline: none !important;
}

.section-tours .form-search-tour .form-control .dropdown-menu input {
  border: solid 1px #DF6951;
}

.section-tours .form-search-tour .form-control .dropdown-menu input:focus {
  box-shadow: 0 4px 8px rgb(160, 92, 77);
}

.section-tours .form-search-tour .form-control .dropdown-item.active {
  background: #DF6951;
  color: #fff;
}

.section-tours .form-search-tour .form-control .dropdown-item:active {
  background: #DF6951;
}

/* Style Css Calendar Flatpickr  */
.flatpickr-day.selected {
  background-color: #DF6951 !important;
  border: #DF6951 !important;
}

/* Style Css Filter Slider  */
.section-tours .form-filter-slider {
  margin: 20px 0;
  padding: 0px 20px;
}

.section-tours .form-filter-slider .filter-price {
  color: #343434;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.section-tours .form-filter-slider .noUi-connect {
  background: #DF6951;
}

.section-tours .form-filter-slider .price-value {
  text-align: left;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.56);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  /* 144.444% */
}

.section-tours .form-filter-slider .price-value span {
  margin-right: 10px;
}

.section-tours .form-search-tour .button-book {
  background: #DF6951;
  color: #fff;
  padding: 5px 10px;
  margin-top: 20px;
}

.section-tours .tour-img {
  width: auto;
  height: auto;
  /* transform: translateX(-25%); */
  margin-top: 50px;
}

.section-tours .tour-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* End Form Search Tour */
/* End Tour  */
/* Section Tour Detail */
.section-tour-detail .intro-tour {
  position: relative;
  margin-top: -100px;
  z-index: -1;
}

.section-tour-detail .intro-tour .inner-img {
  width: auto;
  height: 70vh;
}

.section-tour-detail .intro-tour .inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-tour-detail .box-content {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.section-tour-detail .box-content .inner-sub-title {
  color: #FFEFEC;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
}

.section-tour-detail .box-content .inner-title {
  color: #FFF;
  font-family: Yesteryear;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: 170px;
  /* 142.085% */
  text-align: center;
}

.section-tour-detail .box-left {
  padding: 0px 20px;
}

.section-tour-detail .box-left .inner-title {
  color: #181E4B;
  font-family: Volkhov;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.section-tour-detail .box-left .tour-plan .plan-item {
  margin-bottom: 20px;
}

.section-tour-detail .box-left .tour-plan .plan-item .inner-title {
  color: #181E4B;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.section-tour-detail .box-left .tour-plan .plan-item .inner-desc {
  color: #181E4B;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.section-tour-detail .box-left .tour-plan .plan-item ul {
  list-style: circle;
  margin-left: 30px;
}

.section-tour-detail .box-left .tour-plan .plan-item ul li {
  color: #181E4B;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

/* Section Tour Detail */
/* Tab Information */
.tab-information .box-head {
  display: flex;
  align-items: center;

  margin-bottom: 5px;
}

.tab-information .box-head .inner-title {
  margin: 0;
  margin-right: 50px;
}

.tab-information .box-head .inner-price .price-new {
  color: #DF6951;
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
}

.tab-information .box-head .inner-price .price-old {
  color: #262626;
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 400;
}

.tab-information .inner-rate {
  margin-bottom: 10px;
}

.tab-information .inner-rate i {
  margin-right: 2px;
  cursor: pointer;
  font-size: 16px;
}

.tab-information .inner-rate i.evaluated {
  color: #FFBA0A;
}

.tab-information .inner-desc {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

.tab-information .inner-item {
  display: flex;
  margin-top: 10px;
}

.tab-information .inner-item .title {
  color: #DF6951;
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}

.tab-information .inner-item .content {
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

/* End Tab Information */
/* Tab Location */
.tab-location iframe {
  width: 100%;
  aspect-ratio: 1/1;
}

/* End Tab Location */
/* Tab gallery  */
.tab-gallery .tab-img .list-img {
  display: grid;
  grid-template-areas:
    "pos-1 pos-4 pos-4"
    "pos-2 pos-4 pos-4"
    "pos-3 pos-4 pos-4"
    "pos-5 pos-5 pos-6"
    "pos-7 pos-7 pos-7";

  gap: 10px;
}

.tab-gallery .tab-img .list-img .inner-img {
  height: auto;
  width: auto;
}

.tab-gallery .tab-img .list-img .inner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab-gallery .tab-img .list-img .inner-img:nth-child(1) {
  grid-area: pos-1;
}

.tab-gallery .tab-img .list-img .inner-img:nth-child(2) {
  grid-area: pos-2;
}

.tab-gallery .tab-img .list-img .inner-img:nth-child(3) {
  grid-area: pos-3;
}

.tab-gallery .tab-img .list-img .inner-img:nth-child(4) {
  grid-area: pos-4;
}

.tab-gallery .tab-img .list-img .inner-img:nth-child(5) {
  height: 160px;
  grid-area: pos-5;
}

.tab-gallery .tab-img .list-img .inner-img:nth-child(6) {
  height: 160px;
  grid-area: pos-6;
}

.tab-gallery .tab-img .list-img .inner-img:nth-child(7) {
  height: 160px;
  grid-area: pos-7;
}

/* End Tab gallery  */